
%h1 Your Data
= link_to "New Data", new_data_info_path, class: "btn btn-primary"
%table.table.table-inverse.table-striped.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Invites
      %th Actions
  %tbody
    - @data_infos.each do |data|
      %tr
        %td= link_to data.id, data_info_path(data)
        %td= data.user.email
        %td= data.description
        %td= link_to "Edit", edit_data_info_path(data)
