%table.table.table-inverse.table-striped.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Invites
      %th Actions
  %tbody
    = @all_data.each do |data|
    %tr
      %td= data.title
      %td= data.description
      %td= data.invites.count
      %td= linke_to "Edit", 
    %tr
      %th{:scope => "row"} 2
      %td Jacob
      %td Thornton
      %td @fat
    %tr
      %th{:scope => "row"} 3
      %td Larry
      %td the Bird
      %td @twitter
